<section class="reveal" style="margin: 40px 0 0;background-color: #f7f7f7;padding: 50px 0 0;">
  <div id="heading" class="vt-ek-div-30">
    <img src="<?php echo base_url();?>/public/assets/img/team.png" alt="" class="img-fluid image-team" />
  </div>
  <div class="container" style="margin-top: 60px;">
    <!-- <div class="vt-ourteam-hd vt-ek-div-30">
        <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-11.png" class="img-fluid" alt="">
        
      </div> -->

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="padding-top: 50px;padding-bottom: 25px;">
        <div class="carousel-item active">
          <div class="row py-3">
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">
              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Tushar Agale</h5>
                <p class="card-text">Managing Director</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-17.png" class="vt-team-image" alt="">
              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Aparna Desai</h5>
                <p class="card-text">Co-founder & CEO</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">
              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Ashwin Moghe</h5>
                <p class="card-text">Project Manager</p>
              </div>
            </div>
          </div>

          <div class="row py-3">
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Swapnil Agale</h5>
                <p class="card-text">Project Manager</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-17.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Mrunmayee Yedsikar</h5>
                <p class="card-text">HR Associate</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-17.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Shweta Shelar</h5>
                <p class="card-text">Assoc. Marketing and Branding</p>
              </div>
            </div>

          </div>

        </div>
        <div class="carousel-item">
          <div class="row py-3">
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Kishan Nikaju</h5>
                <p class="card-text">Assoc. Developer</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Amol</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Walmik Pawar</h5>
                <p class="card-text">Sr. Assoc. Graphic Design</p>
              </div>
            </div>
          </div>

          <div class="row py-3">
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Vijay Bhandare</h5>
                <p class="card-text">Senior Assoc.- Instructional Design</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Hemang Inamdar</h5>
                <p class="card-text">Assoc. Instructional Designer</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Prasad Kaware</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row py-3">
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Raviraj Jamadade</h5>
                <p class="card-text">Developer</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Pravin Kokate</h5>
                <p class="card-text">Senior Assoc. Devloper</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-17.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Shital Surwase</h5>
                <p class="card-text">Sr. Developer</p>
              </div>
            </div>
          </div>

          <div class="row py-3">
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Prajwal Chorghe</h5>
                <p class="card-text">Assoc. Quality Analysis</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-16.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Vikrant Yenare</h5>
                <p class="card-text">Assoc. Quality Analysis</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center vt-our-team">
                <img src="<?php echo base_url();?>/public/assets/img/KnowVentura-14.png" class="vt-team-image" alt="">

              </div>
              <div class="card-body vt-card-color">
                <h5 class="card-title">Shivaji Yelpale</h5>
                <p class="card-text">Junior Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<button style="left: 0px;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"-->
      <!--     data-bs-slide="prev">-->
      <!--     <span class="fa fa-angle-left" aria-hidden="true" style="color: #000;font-size: 50px;"></span>-->
      <!--     <span class="visually-hidden">Previous</span>-->
      <!--   </button>-->
      <!--   <button style="right: 0px;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"-->
      <!--     data-bs-slide="next">-->
      <!--     <span class="fa fa-angle-right" aria-hidden="true" style="color: #000;font-size: 50px;"></span>-->
      <!--     <span class="visually-hidden">Next</span>-->
      <!--   </button>-->
    </div>
    <div style="position: relative;">

    </div>
    <!-- row -->

  </div>
</section>